@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .test {
    @apply border border-solid border-red-700;
  }

  .notification {
    @apply w-[400px] h-[100px] flex justify-center items-center m-auto text-white font-semibold italic text-xl
    md:h-[100px] md:m-0;
  }

  .container {
    @apply w-[100%] max-w-[460px] h-[100%] 
    mb-8 px-4 flex flex-col  
    justify-center items-center bg-[#080b16] text-white rounded-2xl 
    md:w-[100%] md:max-w-[800px] md:h-[500px] md:m-0 md:px-8 md:pt-8
    md:flex-row md:items-start
    transition-all ease-in-out duration-500;
  }

  .price-wrapper {
    @apply flex gap-6 justify-center items-center mb-4;
  }

  .sales-price {
    @apply font-bold text-red-600 text-2xl;
  }

  #inStock {
    @apply text-green-600 text-xl font-bold mb-4;
  }

  .product-add-to-cart {
    @apply flex flex-col md:flex-row items-center;
  }

  .btn-minus-plus {
    @apply bg-gray-200 hover:bg-slate-300 text-black rounded flex p-4 h-8 items-center;
  }

  .btn-add-to-cart {
    @apply bg-green-700 hover:bg-green-600 text-white rounded-xl p-2 m-4 w-[100%];
  }
}
