@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url(../Tourism-Design/images/bg.png);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  color: white;
  font-family: "Prata", sans-serif;
  overflow: hidden;
  margin: 0;
}

aside {
  background-color: black;
  width: 300px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}

aside a {
  color: white;
  text-decoration: none;
}

aside li {
  list-style-type: none;
  line-height: 4rem;
  font-size: 2rem;
}

.special {
  text-align: center;
  padding: 1rem;
  margin: 1.5rem;
  background-color: #feab51;
  color: black;
  font-size: 2rem;
}

main {
  padding: 3rem;
}

.logo {
  font-size: 2rem;
}

main h1 {
  font-size: 4rem;
  margin: 0;
}

main h3 {
  font-size: 3rem;
  color: #feab51;
  margin: 0;
}

#hide {
  display: none;
  background-color: #feab51;
  color: black;
  padding: 0 0.5rem;
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  body {
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  main {
    min-height: 60vh;
  }

  aside {
    height: auto;
    width: 100%;
  }

  aside li {
    display: inline-block;
    padding: 0 0.5rem;
    font-size: 1.4rem;
  }

  .special {
    display: none;
  }

  /* .special {
    font-size: 1rem;
    padding: 0.4rem;
    margin: 0.8rem auto 0 auto;
    width: 80%;
  } */

  #learn {
    display: none;
  }

  #hide {
    display: block;
  }
}
