@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../netflix-sign-in/images/neflix-background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
  font-family: "Roboto", sans-serif;
}

.logo img {
  height: 100px;
  width: 200px;
}

.container {
  background-color: rgba(0, 0, 0, 0.418);
  width: 100%;
  height: 100%;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.726);
  width: 400px;
  height: 600px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 3.5rem;
  border-radius: 8px;
}

.form-container h1 {
  margin-bottom: 2rem;
}

.form-control {
  position: relative;
}

.form-control input {
  padding: 1.2rem;
  background-color: #333;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 100%;
  color: white;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.form-control input:focus {
  background-color: #474747;
}

#placeholder {
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.3s ease;
}

.form-control input:focus + #placeholder,
input:valid + #placeholder {
  top: 2%;
  font-size: 0.8rem;
}

.btn {
  padding: 1rem;
  background-color: #e50914;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
}

.btn:hover {
  background-color: #c9000a;
  cursor: pointer;
}

.form-help {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 0.6rem;
}

.login-remember-me {
  display: flex;
}

.login-remember-me input,
label,
a {
  margin-right: 5px;
  color: #b3b3b3;
  accent-color: #b3b3b3;
  font-size: 0.8rem;
  text-decoration: none;
}

#child1 {
  color: #8c8c8c;
}

#child1 a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

#child2 {
  margin-top: 1rem;
  color: #999999;
  font-size: 0.8rem;
}

#child2 a {
  color: #0071eb;
  text-decoration: none;
}

@media screen and (max-width: 740px) {
  body {
    background-color: black;
    background-image: none;
  }

  .form-container {
    width: 100%;
  }
}
