@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: white;
}

header {
  background-image: url(../nt-home/images/neflix-background.jpg);
  background-position: center center;
  background-size: cover;
  height: 600px;
}

header,
main,
footer {
  width: 100%;
}

.hero-container {
  background-color: rgba(0, 0, 0, 0.603);
  height: 100%;
  border-bottom: 8px solid rgb(35, 35, 35);
}

.header-container {
  width: 1200px;
  max-width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo img {
  height: 100px;
}

.language-select {
  background-color: transparent;
  font-size: 1rem;
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 5px;
}

.language-select:focus-visible {
  outline: 2px solid white;
}

.hero-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90%;
}

.hero-form h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero-form h3 {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem;
}

.form-container {
  width: 600px;
  max-width: 100%;
}
.form-control {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem;
}

.form-control input {
  background-color: rgba(0, 0, 0, 0.342);
  padding: 1.2rem;
  flex: 1;
  border: 1px solid rgb(146, 146, 146);
  border-radius: 5px;
  outline: none;
}

label {
  position: absolute;
  top: 35px;
  left: 40px;
  color: rgb(216, 216, 216);
}

.btn {
  background-color: rgb(229, 9, 20);
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 1rem;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(196, 0, 10);
}

#btn-get-started {
  font-size: 1.4rem;
  margin-left: 1rem;
}

#btn-sign-in {
  font-size: 0.9rem;
  margin-left: 0.5rem;
  padding: 0.4rem 1.3rem;
}

.container {
  display: flex;
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.gap {
  padding: 20px;
  border-bottom: 8px solid rgb(35, 35, 35);
}

.container img {
  width: 100%;
}

.container-box-text,
.container-box-img-video {
  width: 50%;
}

.container-box-text h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.container-box-text p {
  font-size: 1.5rem;
  font-weight: 400;
}

.faq {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1400px;
}

#faq-main-title {
  font-size: 3rem;
  margin: 1rem 0;
  text-align: center;
}

.faq-item {
  margin: 0.2rem 2rem;
}

.faq-title {
  background-color: #202020;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  padding: 2rem;
  position: relative;
}

.faq-title:hover {
  cursor: pointer;
  background-color: #3f3f3f;
}

.faq-title::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  font-size: 2rem;
}

.faq-item.active .faq-title::before {
  content: "-";
}

.faq-content {
  background-color: #202020;
  border-top: 1px solid black;
  position: relative;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.faq-item.active .faq-content {
  height: auto;
  padding: 2rem;
}

.faq-item h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.faq-item p {
  font-size: 1.4rem;
  line-height: 1.4;
}

.ready {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ready h3 {
  font-weight: 400;
  margin-top: 2rem;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  width: 1400px;
  max-width: 100%;
}

.footer-container a {
  color: rgb(172, 172, 172);
}

.footer-container li {
  list-style: none;
  padding: 0.3rem 0;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  max-width: auto;
}

.footer-menu-column {
  width: 25%;
}

#sign-county-bottom p {
  margin-top: 1rem;
}
